body{
    background-color: #a6bab7;
    color: #08172e;
    margin:0;
}
.header{
    padding: 2rem;
    background-color: #08172e;
    color: #f08080;
    position: relative;
}
.header img{
    max-width: 10%;
    align-content: center;
    position: absolute;
    top: 10%;
}
.scallops{
    background-color:#a6bab7;
    display: flex;
    justify-content: center;
}
.scallops a{
    background-color:#08172e;
    color:#a6bab7;
    padding: 1rem 2rem;
    border-bottom-left-radius: 2000rem;
    border-bottom-right-radius: 2000rem;
    flex: 1;
    text-align: center;
}
a:hover{
    color:#f08080;
}
main{
    padding: 2rem;
}
.carrie img{
    max-width: 70%;
    display: block;
    margin:auto;
}
h1{
    font-family: 'Almendra SC', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Inknut Antiqua', sans-serif;
}
footer{
    background-color:#08172e;
    color: #a6bab7;
    padding: 2rem 0 5rem 2rem;
    position: relative;
}
footer img{
    max-height: 50%;
    position: absolute;
    right: 7%;
    bottom: 30%;
}
.gallery{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem 15rem;
    gap: 2rem;
    padding: 0 2rem 5rem 0;
}
.gallery div{
    background-color: #08172e;
    color: #a6bab7;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100;
}
.gallery img{
    max-width: 10rem;
    max-height: 10rem;
    display:block;
    margin: auto;
}
.gallery p{
    display:block;
    margin:auto;
}
.work p:nth-child(even){
    color: #f08080;
}
@media(min-width:1000px){
    .header{
        padding:4rem;
    }
}